/*
 *= require_self
 *= require jquery-ui/redmond
*/

$main-brown-color:   #CCBF99;
$nav-bar-background: #4D597F;

@import "bootstrap";
@import "font-awesome";
@import "honey_badger";
@import "pygments";

body {
  margin-top: 10px;

  #nav-bar-sub {
    .btn { margin-bottom: 10px; }
  }

  table {
    .links { width: 100px; }
  }
}
